body
    margin: 0
    font-size: 16px
    color: #333
    padding-top: 51px

.p0
    padding: 0

.pt50
    padding-top: 50px

.pb50
    padding-bottom: 50px

footer
    padding-top: 20px

.slick-slide
  outline: 0
