/node_modules
/public/css
/public/js
/public/images
/public/fonts
/public/vendors
/vendor
/.idea
Homestead.json
Homestead.yaml
.env

*.log
public/wordpress/wp-config.php
public/wordpress/wp-content/advanced-cache.php
public/wordpress/wp-content/backup-db/
public/wordpress/wp-content/backups/
public/wordpress/wp-content/blogs.dir/
public/wordpress/wp-content/cache/
public/wordpress/wp-content/upgrade/
public/wordpress/wp-content/uploads/
public/wordpress/wp-content/wp-cache-config.php
public/wordpress/wp-content/plugins/hello.php

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz
